sudo: required
dist: trusty
language: cpp
matrix:
  include:
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      install: if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.8
          packages:
            - clang-3.8
      install: if [ "$CXX" = "g++" ]; then export CXX="clang++-3.8" CC="clang-3.8"; fi
before_install:
    - pip install conan
script:
    - mkdir build
    - cd build
    - conan install ./.. --build=missing
    - cmake .. && make
    - cd bin # It'd be great if we could just run all the binaries we find in here...
    - ./boilerplate
notifications:
  recipients:
    secure:
      secure: qf3Waf0Xsnq1qhK5m+NXKkIN2V6xRIptHyYr6xif5N8kOrR+Dhokmk/2Kh8jVFyXE4TxsK7AutPryK93byag+YF079ZWdiJDP+wxZRw0MwOUaOAK1K7X5yAOeRGYQse5jHS7MvYfD9udVP6eYsF/A1V0J808ZgSD4PZ0n7XepLEOo7K6SZ9sUTNCaNKM6GZ+8O+4Lqk5F4jlHMNVR98qSk/lFtsIjX5D8+7RzYDdH7ctMW0RQyZsb1xbewfE8pVmg3ghNbfShs11JPQfkwJL/qQysb9QruqALJAUM2s65eRYXH6vk+uYUiX0UHB8+oCA702Eo5jtgET6eatp0TOakn/LWq0lRQfpbs8/KxZolttAwROq0yQV6/LhwYNcFK4fkM8k5XVljjLqlNbYT0Xu3fMh7jQAfYkNrq/50SOETgecUlpCEp5K3PBTlAvWmu5SAnG13GCPaDP7AI08ERxs3n6DVucaM6HcFRcjumFLva4X39+Qko31ixnMWzVhGVonjMrPqMYmVcPBLQE3qVsnxCp0/bfoGDpHYVGxGnc/9LAck5lw00kkkE06H3m1WubYt12E6hcepAVutA10g4Y6LJ0p380mhDCet3Hb4eW2aq9FWhUbwpRpn4W4tihCm7OXxSYqQjVyxyvKjXaE+aSEnNzr65nj/R4rOS716Br3pdw=
  email:
    on_success: change
    on_failure: always
